@use "../abstracts/mixins" as *;

.hero {
  @include flex(center, center, column);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  min-height: 70vh;
}

.hero__content {
  text-align: center;
  padding: 1rem 2rem;

  .hero__title {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-shadow: 0 0.25rem 1rem hsl(0 100% 100%/0.3);
  }
  .hero__description {
    width: 60%;
    margin-inline: auto;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    line-height: 1.7;
    font-weight: 200;
  }
}

.events__section {
  margin-block: 3rem;
}

.event {
  width: 50%;
  margin-inline: auto;
}

.events__head,
.slack__head {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.event__body,
.slack__description {
  font-size: 1.1rem;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 1.5rem;
}

.event__img {
  max-width: 100%;
  width: 100%;
  aspect-ratio: 1/0.5;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.events__btn {
  margin-block: 2rem;
  font-weight: bold;
}

.slack__section {
  @include flex(center, center, column);
  margin-block: 2rem;
}

.slack__head {
  font-weight: bold;
  margin-bottom: 2rem;
}

.slack__description {
  width: 50%;
  font-weight: 600;
}

@media (max-width: 720px) {
  .hero__content {
    .hero__title {
      font-size: 2.1rem;
    }

    .hero__description {
      font-size: 1rem;
    }
  }

  .event,
  .slack__description {
    width: 100%;
    padding: 0 1rem;
  }

  .events__head,
  .slack__head {
    font-size: 2rem;
  }
}
